<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>validate</title>
</head>
<body>
    <h1>Welcome {{name}}</h1>
    <p>
        <b>Password: </b><i>{{pwd}}</i><br>
        <b>DOB: </b><i>{{dob}}</i><br>
        <b>Gender: </b><i>{{gender}}</i><br>
        <b>Remarks: </b><i>{{remark}}</i>
    </p>
</body>
</html>